html {
  position: relative;
  min-height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
}
body {
  margin: 0;
  margin-bottom: 100px;
  font-size: 1rem;
  background-color: rgba(194, 223, 255, 0.3);
  color: #212529;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

h2 {
  font-size: 2rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  text-align: center;
}

.margin-top {
  margin-top: 40px;
}

#root {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  
}

.content-row {
  margin-top: 40px;
  margin-left: 16.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

form[name="bibForm"] {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

#bibInput, #btn {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  border: 1px solid;
  padding: .375rem .75rem;
  overflow: visible;
}

#bibInput {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  height: 24px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem 0 0 .25rem;
  border-color: #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

#bibInput::placeholder {
  color: #6c757d;
  opacity: 1;
}

#btn {
  cursor: pointer;
  color: #212529;
  background-color: #f8f9fa;
  text-align: center;
  user-select: none;
  border-color: transparent;
  border-radius: 0 .25rem .25rem 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -webkit-appearance: button;
  text-transform: none;
  margin: 0;
}

[type="button"]::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.bibtex-code {
  background-color: #f5f5f5;
  border-style: solid;
  border-width: 1px;
  border-color: #a3a3a3;
  padding: 10px;
  display: block;
  font-size: 87.5%;
  color: #212529;
  font-family: monospace;
  word-break: normal;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}